@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #400b5b;
}

.pole {
  height: 300px;
  width: 10px;
  border: 1px solid whitesmoke;
  background-color: #1e1e24;
  margin: 40% auto;
  position: absolute;
  left: 40%;
  box-shadow: 10px 0px 15px -5px whitesmoke;
  border-radius: 4px;
  z-index: 1;
}

.sun {
  background: linear-gradient(
    180deg,
    rgba(254, 188, 116, 1) 0%,
    rgba(249, 130, 123, 1) 70%,
    rgba(243, 86, 130, 1) 100%
  );
  height: 500px;
  width: 500px;
  box-shadow: 10px 5px 50px -5px rgba(249, 130, 123, 1);
  border-radius: 100%;
  position: relative;

  margin: 10% auto;
}

.traffic-light {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  border: 5px solid white;
  width: 85px;
  position: absolute;
  left: 32%;
  z-index: 2;
  border-radius: 5px;
  background-color: #1e1e24;
}

.light {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.red {
  border: 2px solid #461a14;
  animation: red 7s linear infinite;
}

.yellow {
  border: 2px solid #624914;

  animation: yellow 7s linear infinite;
}
.green {
  border: 2px solid #215863;

  animation: green 7s linear infinite;
}
@keyframes red {
  0% {
    background: #be4638;
    box-shadow: 5px 5px 40px 3px #be4638;
  }
  60% {
    background: #4b1b16;
  }
}

@keyframes yellow {
  0% {
    background: #352904;
  }

  40% {
    background: #fbc00c;
    box-shadow: 5px 5px 40px 3px #fbc00c;
  }

  50% {
    background: #352904;
  }
}

@keyframes green {
  50%,
  83%,
  92% {
    background: #31808f;
    box-shadow: 5px 5px 40px 3px #31808f;
  }

  0%,
  82%,
  91% {
    background: #15373e;
  }
}

.bucket {
  position: relative;
  display: flex;
  background: linear-gradient(180deg, #4506d7 0%, #9000ab 60%, #c00095 100%);
  height: 200px;
  width: 100px;
  overflow: hidden;
  color: white;
  font-size: 22px;
  line-height: 20px;
  text-align: center;
  margin: auto;
  align-items: center;
  border-radius: 8px;
  font-family: 'Bebas Neue';
}

.container {
  display: flex;
}

.box {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #400b5b;
  border-radius: 35%;
  bottom: 10%;
  left: -50%;
}
.box:hover {
  animation: spin 5s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-100%) rotate(500deg);
  }
}
